{{- $u := urls.Parse .Destination -}}
{{- $valid := or $u.IsAbs (.Page.Site.GetPage $u.Path) -}}
{{- if not $valid -}}
  {{ warnf "Link to missing page %q in page %q" .Destination .Page.Name}}
{{- end -}}
{{- $url := or (and $valid .Destination) (.Page.Site.GetPage "missing").RelPermalink}}
<a href="{{ $url | safeURL }}"
  {{- with .Title }} title="{{ . }}"{{ end -}}
  {{- if not $valid }} class="missing" {{ end -}}
  {{- if $u.IsAbs }} rel="external" class="external"{{ end -}}
>
  {{- with .Text | safeHTML }}{{ . }}{{ end -}}
</a>
{{- /* chomp trailing newline */ -}}