<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">

<head>
  <link rel="stylesheet" href="/css/site.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap" rel="stylesheet">

  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="icon" href="{{ relLangURL "favicon.ico" }}" type="image/x-icon">

  {{ partial "meta.html" . }}

  <title>
    {{- if .IsHome -}}
      {{ site.Title }}
    {{- else -}}
      {{ .Title }} | {{ site.Title }}
    {{- end -}}
  </title>
</head>

<body>
  {{ partialCached "nav.html" . }}
  <main>
    <div>
      {{ block "main" . }}{{ end }}
    </div>
  </main>
  {{ partialCached "footer.html" . }}
</body>

</html>
